@page "/dropdown/end-aligned"

<div style="display: flex; justify-content: flex-end">
    <Dropdown Label="Options" Align="end">
        <DropdownItem>Rename</DropdownItem>
        <DropdownItem>Duplicate</DropdownItem>
        <DropdownItem>Delete</DropdownItem>
    </Dropdown>
</div>
