---
import ExampleLayout from '../../../layouts/ExampleLayout.astro';
---

<ExampleLayout title="Button / Disabled">
  <button class="fn-btn fn-btn--primary" disabled>Save changes</button>
</ExampleLayout>
