<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(ExampleLayout)" />
    </Found>
    <NotFound>
        <p>No example at this route.</p>
    </NotFound>
</Router>
